@import '../box/box'

.b-bordered-box
  @extend %block
  background-color: inherit
  border-radius: $box-radius
  box-shadow: $box-shadow
  display: block
  padding: $box-padding
  @each $name, $pair in $all-colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      border-top: 0.25rem solid $color
      border-left: 1px solid rgba($border, .2)
      border-right: 1px solid rgba($border, .2)
      border-bottom: 1px solid rgba($border, .2)
  +mobile
    min-width: 320px
    padding-left: 0
    padding-right: 0
