$sheet-color: $text !default
$sheet-background-color: $white !default

.b-sheet
    background-color: $sheet-background-color
    color: $sheet-color
    &.is-loading
        display: flex
        flex-direction: column
        justify-content: center
    &.is-fullheight
        min-height: 100vh
    @each $name, $pair in mergeColorMaps($colors, $shades)
        $color: nth($pair, 1)
        $color-invert: findColorInvert($color)
        &.is-#{$name}
            background-color: $color
            color: $color-invert
