.b-navigation-drawer
  width: $navigation-drawer-width
  @each $name, $pair in $all-colors
    $color: nth($pair, 1)
    $color-invert: findColorInvert($color)
    &.is-#{$name}
      background-color: $color
      color: $color-invert
